
/* Overrides */

.wh_publication_title {
    display: inline;
    margin-left: 1em;
}

/* 
 * Example of removing ToC item with given id
 * 
.wh_top_menu *[data-id='topic_introduction'] {
    display:none;
}
*/

/* Custom elements */

.wh_alternative_links {
    display: inline;
    margin-left: 1em;
}

.wh_alternative_link {
}

.topictitle2 {
    font-style: normal;
}

.topictitle3 {
    font-style: normal;
}
