.project
.classpath
.settings/
target/
ipadictionary/src/main/resources/META-INF/dict
*\~
*.backup
*.versionsBackup
.Changes.md.html
app/derby.log
Thumbs.db
ipadictionary/derby.log
app/data/bin
bin
.idea/
*.iml
gen/
*.log
.DS_Store
