grammar PhoTree;

options {
	tokenVocab=Pho;
}

@header {
package ca.phon.ipa.xml;
}

/**
 * Start
 */
pho		:	^(PHO pw+)
        ;
		
pw		:	^(PW pw_ele+)
		;
	
pw_ele	:	ph
		|	cp
		|	pause
		|	ss
		|	sb
		;
		
ph		:	^(PH ph_attr* TEXT)
		;
		
ph_attr	:	PH_LENGTH
		|	PH_PREFIX
		|	PH_SUFFIX
		|	PH_COMBINING
		|	PH_TONE
		;
		
cp		:	^(CP CP_LIG? p1=ph p2=ph)
		;
		
pause	:	^(PAUSE PAUSE_LENGTH?)
		;
		
sb		:	SB
		;
		
ss		:	^(SS SS_TYPE?)
		;
		
