
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  border: 1px solid;
  border-radius: 11px;
}

/*notes-content-two-lines*/
span.note__title {
  display: block;
}

/*notes-colors-colorful*/
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  background-color: rgba(0, 120, 160, 0.09);
  border-color: #0078A0;
}
*[class~="topic/note"].note_danger,
*[class~="topic/note"].note_caution {
  background-color: rgba(255, 202, 45, 0.1);
  border-color: #606060;
}
*[class~="topic/note"].note_warning,
*[class~="topic/note"].note_attention,
*[class~="topic/note"].note_important {
  background-color: rgba(255, 202, 45, 0.1);
  border-color: #FFCA2D;
}
*[class~="topic/note"].note_restriction {
  background-color: rgba(255, 226, 225, 0.32);
  border-color: #FF342D;
}