<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">
	<Appenders>
		<Console name="STDERR" target="SYSTEM_ERR">
			<PatternLayout pattern="(%p) %m %ex%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDERR" level="INFO"/>
		</Root>
	</Loggers>
</Configuration>
