<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT" additivity="false">
			<PatternLayout pattern="(%p) %m %ex%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDOUT" level="INFO"/>
		</Root>
	</Loggers>
</Configuration>
