## Velocity global templates for opgraph wizard reports

#macro( h1 $title $id ) <h1 id='$id'>$title</h1>#end
#macro( h2 $title $id ) <h2 id='$id'>$title</h2>#end
#macro( h3 $title $id ) <h3 id='$id'>$title</h3>#end
#macro( h4 $title $id ) <h4 id='$id'>$title</h4>#end
#macro( h5 $title $id ) <h5 id='$id'>$title</h5>#end
#macro( h6 $title $id ) <h6 id='$id'>$title</h6>#end

#macro( printHeader $table $columnNames )
	#set($maxCol = $table.columnCount - 1)
	#if($maxCol >= 0)
	<tr>
		#foreach($col in [0..$maxCol])
			#set($columnName = $table.getColumnTitle($col))
			#if($columnNames.size() == 0 || $columnNames.contains($columnName))
				<th>$table.getColumnTitle($col)</th>
			#end
		#end
	</tr>
	#end
#end

#macro( printValue $v )
	#if( (! $v) && ("$!v" == "") ) <td/>
	#else
	#set($clazz = $v.class)
	#set($txt = $FormatterUtil.format($v))
	#set($boolean = $Class.forName("java.lang.Boolean"))
	#set($number = $Class.forName("java.lang.Number"))
	#set($ipa = $Class.forName("ca.phon.ipa.IPATranscript"))
	#if($clazz == $ipa) #set($type = "tier-value")
	#elseif($number.isAssignableFrom($clazz))
		#set($type = "number-value")
	#elseif($boolean.isAssignableFrom($clazz))
		#set($type = "number-value")
	#else #set($type = "text-value")#end
	#if($clazz == $ipa && $v.length() == 0) #set($txt = "\u2205") #end
	#if($clazz == $boolean)
		#if($v.booleanValue() == true)
			#set($txt = "1")
		#else
			#set($txt = "0")
		#end
	#end
<td class='$type'><span>$txt</span></td>
	#end
#end

#macro( printSessionLink $sessionPath )
<td class='session-link'><span onclick="app.openSession('$sessionPath')">$sessionPath</span></td>
#end

#macro( printRecordLink $sessionPath $recordNum )
<td class='session-link'><span onclick="app.openSessionAtRecord('$sessionPath', ($recordNum - 1))">$recordNum</span></td>
#end

#macro( printResultValue $tableId $row $columnName $v )
	#if( (! $v) && ("$!v" == "") ) <td/>
	#else
	#set($clazz = $v.class)
	#set($txt = $FormatterUtil.format($v))
	#set($number = $Class.forName("java.lang.Number"))
	#set($ipa = $Class.forName("ca.phon.ipa.IPATranscript"))
	#if($clazz == $ipa) #set($type = "tier-value")
	#elseif($number.isAssignableFrom($clazz))
		#set($type = "number-value")
	#else #set($type = "text-value")#end
<td class='$type session-link'><span onclick="highlightResultValue('$tableId', $row, '$columnName')">$txt</span></td>
	#end
#end

#macro( printBody $table $id $columnNames )
	#set($maxCol = $table.columnCount - 1)
	#set($maxRow = $table.rowCount - 1)
	#set($sessionColIdx = $table.getColumnIndex("Session"))
	#set($recordColIdx = $table.getColumnIndex("Record #"))
	#set($resultColIdx = $table.getColumnIndex("Result"))
	#if($maxRow >= 0 && $maxCol >= 0)
		#foreach($row in [0..$maxRow])
			<tr>
			#foreach($col in [0..$maxCol])
				#set($columnName = $table.getColumnTitle($col))
				#if($columnNames.size() == 0 || $columnNames.contains($columnName))
					#set($val = $table.getValueAt($row, $col))
					
					#if($sessionColIdx >= 0)
					#set($sessionPath = $table.getValueAt($row, $sessionColIdx))
					#end
					
					#if($resultColIdx >= 0)
					#set($result = $table.getValueAt($row, $resultColIdx))
					#end
					
					#if($columnName.equals("Session"))
						#printSessionLink( $val )
					#elseif($columnName.equals("Record #"))
						#printRecordLink ( $sessionPath $val )
					#else
						#set($rv = "")
						#if($resultColIdx >= 0)
							#set($maxrv = $result.getNumberOfResultValues() - 1)
							#foreach($rvIdx in [0..$maxrv])
								#set($resultValue = $result.getResultValue($rvIdx))
								#if($resultValue.getName().equals($columnName))
									#set($rv = $resultValue)
									#set($hasRv = true)
								#end
							#end
						#end
						#if($rv != "")
							#printResultValue ( $id $row $columnName $val )
						#else
							#printValue( $val )
						#end
					#end
				#end
			#end
			</tr>
		#end
	#end
#end

## Print table data as HTML
#macro( printTable $table $columnNames )
#if($table.columnCount > 0 && $table.rowCount > 0)
<table>
#printHeader( $table $columnNames )
#printBody( $table $columnNames )
</table>
#end
#end

#macro( printTableWithCaption $table $caption $columnNames )
#if($table.columnCount > 0 && $table.rowCount > 0)
<table>
<caption>$caption</caption>
#printHeader( $table $columnNames )
#printBody( $table $columnNames )
</table>
#end
#end

#macro( printTableWithIdAndCaption $table $id $caption $columnNames )
#if($table.columnCount > 0 && $table.rowCount > 0)
<table id='$id'>
<caption>$caption</caption>
#printHeader( $table $columnNames )
#printBody( $table $id $columnNames )
</table>
#end
#end

#macro( printTableWithCaptionExcludingColumns $table $caption $excludedColumns )
#set($columnNames = [])
#set($maxCol = $table.columnCount - 1)
#foreach($col in [0..$maxCol])
#set($colName = $table.getColumnTitle($col))
#if(!$excludedColumns.contains($colName))
#set( $swallow = $columnNames.add($colName))
#end
#end
#printTableWithCaption( $table $caption $columnNames )
#end

#macro( printTableWithIdAndCaptionExcludingColumns $table $id $caption $excludedColumns )
#set($columnNames = [])
#set($maxCol = $table.columnCount - 1)
#foreach($col in [0..$maxCol])
#set($colName = $table.getColumnTitle($col))
#if(!$excludedColumns.contains($colName))
#set( $swallow = $columnNames.add($colName))
#end
#end
#printTableWithIdAndCaption( $table $id $caption $columnNames )
#end
