## Velocity global templates for opgraph wizard reports

#macro( h1 $title ) #set($H = '#')$H $title#end
#macro( h2 $title ) #set($H = '##')$H $title#end
#macro( h3 $title ) #set($H = '###')$H $title#end

#macro( printHeader $table $columnNames )
	#set($maxCol = $table.columnCount - 1)
	#if($maxCol < 0) #break#end
	<tr>
		#foreach($col in [0..$maxCol])
			#set($columnName = $table.getColumnTitle($col))
			#if($columnNames.size() == 0 || $columnNames.contains($columnName))
				<th>$table.getColumnTitle($col)</th>
			#end
		#end
	</tr>
#end

#macro( printValue $v )
	#set($clazz = $v.class)
	#set($txt = $FormatterUtil.format($v))
	#set($number = $Class.forName("java.lang.Number"))
	#set($ipa = $Class.forName("ca.phon.ipa.IPATranscript"))
	#if($clazz == $ipa) #set($type = "ipa_value")
	#elseif($number.isAssignableFrom($clazz)) 
		#set($type = "number_value")
		#if($Class.forName("java.lang.Float").isAssignableFrom($clazz) || 
			$Class.forName("java.lang.Double").isAssignableFrom($clazz))
			#set($txt = $Math.roundTo(2, $v))
		#end
	#else #set($type = "text_value")#end
<td class='$type'>$txt</td>
#end

#macro( printBody $table $columnNames )
	#set($maxCol = $table.columnCount - 1)
	#if($maxCol < 0) #break#end
	#set($maxRow = $table.rowCount - 1)
	#if($maxRow < 0) #break#end	
	#foreach($row in [0..$maxRow])
		<tr>
		#foreach($col in [0..$maxCol])
			#set($columnName = $table.getColumnTitle($col))
			#if($columnNames.size() == 0 || $columnNames.contains($columnName))
				#printValue($table.getValueAt($row, $col))
			#end
		#end
		</tr>
	#end
#end

## Print table data as HTML
#macro( printTable $table $columnNames )
#if($table.columnCount == 0 || $table.rowCount == 0) #break#end
<table>
#printHeader( $table $columnNames )
#printBody( $table $columnNames )
</table>
#end
