body {
    background: white;
    font-family: "noto sans", arial, helvetica, sans-serif;
}

h1 {
    font-weight: bold;
    color: darkgrey;
}

h2 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    color: darkgrey;
}

h3 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: darkgrey;
}

table {
    border: thin solid darkgrey;
    empty-cells: show;
    table-layout:fixed;
    text-align: left;
}

th {
    overflow:hidden;
    font-weight: bold;
    border-bottom: thin solid darkgrey;
    padding-right: 20px;
}

th td {
    overflow:auto;
}

td {
    overflow:hidden;
    padding-right: 20px;
}

td:hover {
    overflow:visible;
}

code {
    font-family:monospace;
}

caption {
    display: table-caption;
    text-align: left;
}

.text_value {
}

.ipa_value {
    font-family:"Charis SIL Compact", "noto sans", "Charis SIL", arial, sans-serif;
}

.number_value {
    font-family:"noto monospace", monospace;
}

@media print {

    .pagebreak {
        page-break-after:always !important;
    }

    .noprint {
        display: none;
    }

    body {
        font-family: "noto serif", arial, times, serif;
        font-size: 12pt;
    }

    .ipa_value {
        font-family: "Charis SIL Compact", "noto serif", "Charis SIL", times, serif;
        font-size: 12pt;
    }

    header, footer, nav {
        display: none;
    }

    section {
    }

    h1, h2, h3 {
        page-break-after: avoid !important;
    }

    ul, ol {
        page-break-inside:avoid;
    }

    table {
        table-layout:auto;
        page-break-before: avoid !important;
        page-break-inside: avoid;
    }

    thead {
        page-break-before: avoid !important;
        page-break-after:avoid !important;
        display:table-header-group;
    }

    tfoot {
        page-break-before:avoid;
        display:table-footer-group;
    }

    tr {
        page-break-inside:avoid !important;
        page-break-after:auto;
    }

    img {
        page-break-inside:avoid !important;
    }

    a {
        font-style: normal;
    }

}
