body {
    background: white;
    font-family:"noto sans", arial, helvetica, sans-serif;
}

h1 {
   font-weight: bold;
   color: blue;
}

h2 {
    font-weight: bold;
    color: blue;
}

em {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    empty-cells: show;
    width: 100%;
    table-layout:fixed;
}

th {
    overflow:hidden;
    font-weight: bold; 
    border-bottom: thin solid black;
}

th td {
    text-align:center;
    overflow:auto;
}

td {
    overflow:hidden;
}

td:hover {
    overflow:visible;
}

code {
    font-family:monospace;
}

.ipa_value {
    font-family:"noto sans", "Charis SIL Compact", "Charis SIL", arial, sans-serif;
}

.number_value {
    font-family:"noto monospace", monospace;
    text-align:right;
}

@media print {

    .pagebreak {
        page-break-after:always !important;
    }

    .noprint {
        display: none;
    }
    
    body {
        font-family:"noto serif", times, serif;
    }
    
    .ipa_value {
        font-family:"noto serif", "Doulos SIL", times, serif;
    }

    header, footer, nav {
        display: none;
    }
    
    section {
        page-break-before:always;
    }
    
    h1, h2, h3 {
        page-break-after:avoid;
    }
    
    ul, ol {
        page-break-inside:avoid;
    }
    
    table {
        page-break-inside: auto;
    }
    
    thead {
        page-break-after:avoid !important;
        display:table-header-group;
    }
    
    tfoot {
        page-break-before:avoid;
        display:table-footer-group;
    }
    
    tr {
        page-break-inside:avoid !important;
        page-break-after:auto;
    }
    
    img {
        page-break-inside:avoid !important;
    }
    
    a {
        font-style: normal;
    }
    
}
